.progress_back{
    display: block;
    width: 100%;
    height: 7px;
    background: #ccc;
    position: relative;
    border-radius: 10px;
}
.progress_front{
    display: block;
    width: 0;
    height: 7px;
    background: #7aa3fc;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    overflow: hidden;
}

.main{
    margin:  30px
}

body{
    background:rgb(54, 54, 54)
}